<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="3.0">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:org/andios/config/applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.andios.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResetUserServlet</servlet-name>
        <servlet-class>org.andios.servlet.ResetUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResetUserServlet</servlet-name>
        <url-pattern>/servlet/RegisterServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ScanServlet</servlet-name>
        <servlet-class>org.andios.servlet.ScanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScanServlet</servlet-name>
        <url-pattern>/servlet/ScanServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LibInformationServlet</servlet-name>
        <servlet-class>org.andios.servlet.LibInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibInformationServlet</servlet-name>
        <url-pattern>/servlet/LibInformationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AppointmentServlet</servlet-name>
        <servlet-class>org.andios.servlet.AppointmentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AppointmentServlet</servlet-name>
        <url-pattern>/servlet/AppointmentServlet</url-pattern>
    </servlet-mapping>
</web-app>
