<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="3.0">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:org/andios/config/applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.andios.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResetUserServlet</servlet-name>
        <servlet-class>org.andios.servlet.ResetUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResetUserServlet</servlet-name>
        <url-pattern>/servlet/RegisterServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ShowInformationServlet</servlet-name>
        <servlet-class>org.andios.servlet.ShowInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowInformationServlet</servlet-name>
        <url-pattern>/servlet/ShowInformationServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ShowDetailsServlet</servlet-name>
        <servlet-class>org.andios.servlet.ShowDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowDetailsServlet</servlet-name>
        <url-pattern>/servlet/ShowDetailsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LibInformationServlet</servlet-name>
        <servlet-class>org.andios.servlet.LibInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibInformationServlet</servlet-name>
        <url-pattern>/servlet/LibInformationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LibDetailsServlet</servlet-name>
        <servlet-class>org.andios.servlet.LibDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibDetailsServlet</servlet-name>
        <url-pattern>/servlet/LibDetailsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AppointmentServlet</servlet-name>
        <servlet-class>org.andios.servlet.AppointmentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AppointmentServlet</servlet-name>
        <url-pattern>/servlet/AppointmentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MyAppointmentServlet</servlet-name>
        <servlet-class>org.andios.servlet.MyAppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyAppointmentServlet</servlet-name>
        <url-pattern>/servlet/MyAppointmentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MyCollectionServlet</servlet-name>
        <servlet-class>org.andios.servlet.MyCollectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyCollectionServlet</servlet-name>
        <url-pattern>/servlet/MyCollectionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>org.andios.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/servlet/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>GetAppointmentServlet</servlet-name>
    <servlet-class>org.andios.servlet.GetAppointmentServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>GetAppointmentServlet</servlet-name>
        <url-pattern>/servlet/GetAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetCollectionServlet</servlet-name>
        <servlet-class>org.andios.servlet.SetCollectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetCollectionServlet</servlet-name>
        <url-pattern>/servlet/SetCollectionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancelCollectionServlet</servlet-name>
        <servlet-class>org.andios.servlet.CancelCollectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelCollectionServlet</servlet-name>
        <url-pattern>/servlet/CancelCollectionServlet</url-pattern>
    </servlet-mapping>
</web-app>
